#root {
  max-width: 1280px;
  margin: 0 auto;

  --grey-500: hsl(234deg, 12%, 34%);
  --grey-400: hsl(212deg, 6%, 44%);
  --red: hsl(0deg, 78%, 62%);
  --cyan: hsl(180deg, 62%, 55%);
  --blue: hsl(212deg, 86%, 64%);
  --orange: hsl(34deg, 97%, 64%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  max-width: 316px;
  text-align: center;
  color: var(--grey-500);
  margin: 3em 0 3.5em 0;
}

h1 {
  line-height: 140%;
  letter-spacing: 0.25px;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 16px;
}

span {
  font-weight: 600;
}

.hero p {
  font-size: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.middle-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 314px;
  box-shadow: 0 5px 5px hsl(0, 4%, 89%);
}

.ribbon {
  width: 100%;
  height: 4px;
}

.cyan {
  background-color: var(--cyan);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.blue {
  background-color: var(--blue);
}

.card-text {
  display: flex;
  flex-direction: column;
  margin: 32px;
}

h2 {
  font-size: 20px;
  line-height: 125%;
  color: var(--grey-500);
  margin-bottom: 6px;
}

.card-text p {
  color: var(--grey-400);
  line-height: 160%;
  letter-spacing: 0.09px;
  font-size: 13px;
}

.icon-container {
  align-self: flex-end;
  margin-right: 32px;
  margin-bottom: 47px;
}

footer {
  text-align: center;
}

@media (min-width: 680px) {
  .hero {
    max-width: 540px;
  }

  h1 {
    font-size: 36px;
  }

  .cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }

  .cards > .card {
    justify-self: center;
  }

  .middle-cards {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .hero {
    max-width: 540px;
  }

  h1 {
    font-size: 36px;
  }

  .cards {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .middle-cards {
    flex-direction: column;
  }

  .cards > .card {
    align-self: center;
  }
}
